.git
.gitignore
.github
.vscode
.vs
.DS_Store
README.md
Readme.MD
docs/
**/*.log
**/.env
**/.env.local
**/.env.*.local
**/bin/
**/obj/
**/node_modules/
**/.next/
**/dist/
**/.pytest_cache/
**/__pycache__/
.dockerignore
Dockerfile
docker-compose*.yml
